[flake8]
max-line-length=160
docstring-convention=all
import-order-style=pycharm
exclude=
    constants.py,__pycache__,.cache,
    .git,
    .md,.svg,.png
    tests,
    venv,.venv,
    __init__.py,
    examples/

ignore=

    # Docstrings
    D100, D107, D203, D212

    # Annotations
    ANN101, ANN002, ANN003